<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://java.sun.com/xml/ns/jax-rpc/ri/config">

<service name="Hello" targetNamespace="http://service.jaxrpcexample.com/wsdl"
typeNamespace="http://service.jaxrpcexample.com/types"
packageName="com.jaxrpcexample.proxy">
<interface name="com.jaxrpcexample.service.IHelloService"
servantName="com.jaxrpcexample.service.HelloServiceImpl"/>

</service>
</configuration>