
<web-app>
  <display-name>AxisWebClient2</display-name>
  <welcome-file-list>
    <welcome-file>/searchBook.jsp</welcome-file>
   
  </welcome-file-list>
  
  
  <servlet>
  <servlet-name>bookServlet</servlet-name>
  <servlet-class>com.bookservices.client.BookServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
  </servlet>
  
  
  <servlet-mapping>
  <servlet-name>bookServlet</servlet-name>
  <url-pattern>/searchBooks</url-pattern>
  </servlet-mapping>
</web-app>